@import "tailwindcss";

/* App background */
body {
  @apply bg-arcticDaisy font-sans text-plumPurple min-h-screen;
  font-family: "raleway", sans-serif;
}

@theme {
  --color-bgColor: #f9f9f4;
  --color-olive: #858061;
  --color-warmBeige: #d6c9b4;
  --color-skyBlue: #b8c9db;
  --color-roseBlush: #98553e;
  --color-peachBlossom: #bb8588;
  --color-arcticDaisy: #f5f4e6;
  --color-goldenClover: #d7ce93;
  --color-plumPurple: #59193c;
  --color-brownSugar: #6d5b38;
}
/* Subtle scrollbars (Chromium) */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
*::-webkit-scrollbar-thumb {
  @apply bg-neutral-700/70 rounded-full;
}
*::-webkit-scrollbar-track {
  @apply bg-transparent;
}
